@keyframes r_start {
  0% {
    transform: scale(0.08) rotate(0deg) translate(-2010px, 1870px);
  }
  60% {
    transform: scale(0.15) rotate(45deg) translate(-440px, 200px);
  }
  100% {
    transform: scale(0.5) rotate(180deg) translate(-100px, -710px);
  }
}

@keyframes guide_scroll {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}