@charset "utf-8";

:root {
	--tile: 100px;
}

#cellmove .viewport {
	position: relative;
	width:100vw;
	height: 100vh;
	background-color: #000;
}
.move-area {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width:1000px;
	height: 700px;
	background-image: 
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444),
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
	background-position: 0 0, 100px 100px;
	background-size: 200px 200px;
}
.character {
	position: absolute;
	width:100px;
	height:100px;
	transition: left 0.2s ease, top 0.2s ease;
}
#cellmove .hero {background-color: blue;}
.character.enemy {background-color: red;}

