@charset "utf-8";

:root {
	--tile: 50px;
	--duration: 0.1s;
}

#cellmove .viewport {
	position: relative;
	width:100vw;
	height: 100vh;
	background-color: #000;
}
#cellmove .view-area {
	position: absolute;
	left: 50%;
	top: 50%;
	width:1000px;
	height: 700px;
	background-image: 
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444),
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
	background-position: 0 0, var(--tile) var(--tile);
	background-size: calc(var(--tile) * 2) calc(var(--tile) * 2);
	transform: translate(-50%, -50%) scale(1);
}

#cellmove .hero {
	position: absolute;
	width:var(--tile);
	height:var(--tile);
	transition: left var(--duration) ease, top var(--duration) ease;
	z-index: 2;
	background-color: blue;
}

#cellmove .hero[data-direction="up"] {
	background-color: green;
}
#cellmove .hero[data-direction="right"] {
	background-color: red;
}
#cellmove .hero[data-direction="down"] {
	background-color: yellow;
}
#cellmove .hero[data-direction="left"] {
	background-color: blue;
}

.port-obj {
	position: absolute;
	background-color: #fff;
	width:calc(var(--tile) * 3);
	height: calc(var(--tile) * 2);
	text-align: center;
}
.port-obj h5 {
	font-size: 24px;
	line-height: 1;
	height: 18px;
	font-family: 'Micro';
}
.port-obj p {
	font-size: 12px;
}
.port-obj .entrance {
	position: absolute;
	left: var(--tile);
	top: var(--tile);
	width: var(--tile);
	height: var(--tile);
	background: linear-gradient(180deg, #000 50%, transparent 100%);
	border: 2px solid black;
	border-bottom: 2px dotted #fff;
}
.port-obj.portfolio {
	left: calc(var(--tile) * 2);
	top: calc(var(--tile) * 1);
}
.port-obj.benchmarking {
	left: calc(var(--tile) * 16);
	top: calc(var(--tile) * 2);
}
.port-obj.game {
	left: calc(var(--tile) * 2);
	top: calc(var(--tile) * 6);
}
.port-obj.doteditor {
	left: calc(var(--tile) * 15);
	top: calc(var(--tile) * 7);
}
.port-obj.exit {
	left: calc(var(--tile) * 9);
	top: calc(var(--tile) * 0);
}

.port-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid red;
	display: none;
}
.port-popup.open {
	display: block;
}