@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

.micro5 {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{padding:0;margin:0;box-sizing: border-box;}
html,body{height:100%;}
body {
  background-color: #111;
}

.page-popup {
  display: none;
  position: fixed;
  right: 2em;
  top: 2em;
  padding: 1em;
  border: 2px dotted red;
  background-color: #fff;
}
.page-popup li {
  margin-bottom: 1em;
}
/* .page-popup.open {
  display: block;
} */