@charset "utf-8";

@import url(./common.css);

.wrap {position: relative;width:100vw;height: 100vh;
	background-color: #888;
	background-image: 
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444),
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
	background-position: 0 0, 100px 100px;
	background-size: 200px 200px;
}
.character {position: absolute;width:100px;height:100px;}
.hero {background-color: blue;}
.enemy {background-color: red;}



.main-gate {
	min-height: 100%;
	background-color: #111;
	background-image:
		linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	color: #fff;
}

.main-obj {border: 1px solid red;}

canvas {
	display: block;
	width: 300px;
	height: 300px;
}
