@charset "utf-8";

@import url(./common.css);
@import url(./animation.css);

:root {
  --ground-h: 100px;
}

.sub-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.viewport {
  position: absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.z-line-back {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 180%;
  height: calc(100% - var(--ground-h));
  transition: transform 0.2s ease;
}
.z-line-back.back1 {
  width: 180%;
  height: 60%;
  background: url(../img/back2.jpeg) no-repeat center/cover;
}
.z-line-back.back2 {
  width: 150%;
  height: 100%;
  background: url(../img/back3.jpeg) no-repeat center/cover;
}

.z-line-wrap {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 200%;
  width: 200%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.z-line-wrap .line {
  position: absolute;
  left: 0;
  width: 100%;
}
.scenery {
  bottom: var(--ground-h);
  height: calc(100% - var(--ground-h));
  height: 30%;
  background: url(../img/back1.jpeg) repeat left top;
}
.ground {
  bottom: 0;
  height: var(--ground-h);
  background: url(../img/ground.jpeg) repeat left -60px/130px;
}
.obj-wrap {
  bottom: var(--ground-h);
  height: calc(100% - var(--ground-h));
}
.sub-obj {
  position: absolute;
  bottom: 0;
}
.rocket {
  transform: scale(0.5);
  transform-origin:bottom;
  left: 200px;
  bottom: 130%;
}
.rocket .rocket-fire {
  transition: visibility 0s 1.8s;
}
.rocket.on {
  animation: r_landing 2.2s ease 0s 1 forwards;
}
.rocket.on .rocket-fire {
  visibility: hidden;
}
.aboutme {
  left: 1200px;
  width: 200px;
  height: 200px;
  background-color:brown;
}
.portfolio {
  left: 1900px;
  width: 200px;
  height: 400px;
  background-color: aqua;
}
.contactus {
  left: 2600px;
  width: 300px;
  height: 100px;
  background-color: cadetblue;
}
.hero {
  position: absolute;
  left: 200px;
  bottom: var(--ground-h);
  transform: scale(0.5);
  transform-origin: bottom;
  visibility: hidden;
  transition: left 0.2s ease, visibility 0.2s linear 2.2s;
}
.hero.on {
  visibility: visible;
}
.hero .wheel {
  position: absolute;
  top: 200px;
}
.hero .wheelL {
  left: 0px;
}
.hero .wheelR {
  left: 150px;
}
@keyframes wheelMove {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero.left .wheel {
  animation: wheelMove 0.2s ease 0s infinite normal ;
}
.hero.right .wheel {
  animation: wheelMove 0.2s ease 0s infinite reverse ;
}

.guide-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px dashed #999;
  background-color: #fff;
  padding: 2em;
  text-align: center;
  transform: translate(-50%, -50%);
  display: none;
}