@keyframes guideScroll {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}

@keyframes fireAni {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes landing {
  0% {
    bottom: 100%;
  }
  90% {
    bottom: 5%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes wheelMove {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes openPopup {
  0% {
    width:0;
    height: 0;
  }
  30% {
    width: 800px;
    height: 0;
  }
  100% {
    width: 800px;
    height: 600px;
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}