@charset "utf-8";

:root {
  --ground-h: 80px;
}

#beltscroll .viewport {
  position: absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f1e5d7;
}

/* 배경 */
.z-line-back {
  position: absolute;
  left: 0;
  min-width: 100vw;
  bottom: var(--ground-h);
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
/* .z-line-back .bg-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */
.z-line-back.back1 {
  top: 0;
  width: 4000px;
  height: 100%;
  overflow: hidden;
}
.z-line-back.back1 .line {
  position: absolute;
  left: 0;
  width: 100%;
}
.z-line-back.back2 {
  width: 2300px;
  height: 320px;
  background: url(../img/back2.png) repeat left / 100%;
}
/* .z-line-back.back2 .bg-layer1 {
  background-image: linear-gradient(90deg, #c18762, #d08c63);
  clip-path: polygon(8% 34%, 11% 40%, 52% 68%, 70% 75%, 100% 90%, 100% 100%, 0 100%, 0 39%);
  }
.z-line-back.back2 .bg-layer2 {
  background-image: linear-gradient(90deg, #c88b64, #c38760);
  clip-path: polygon(48% 100%, 64% 64%, 76% 47%, 81% 38%, 84% 39%, 88% 35%, 100% 16%, 100% 100%);
}
.z-line-back.back2 .bg-layer3 {
  background-image: linear-gradient(90deg, #c3815a, #a57151);
  clip-path: polygon(10% 20%, 16% 15%, 37% 14%, 46% 6%, 54% 20%, 59% 31%, 73% 67%, 83% 100%, 3% 65%)
}
.z-line-back.back2 .bg-layer4 {
  background-image: linear-gradient(90deg, #c18762, #97684c);
  clip-path: polygon(45% 100%, 52% 17%, 68% 0, 72% 12%, 77% 30%, 100% 45%, 88% 100%);
} */
.z-line-back.back3 {
  width: 1400px;
  height: 720px;
  background: url(../img/back3.png) repeat left / 100%;
}
/* .z-line-back.back3 .bg-layer1 {
  background-image: linear-gradient(90deg, #917461, #ddab8d);
  clip-path: polygon(14% 63%, 30% 76%, 39% 80%, 56% 69%, 64% 46%, 88% 49%, 100% 28%, 100% 100%, 0 100%, 0 62%, 8% 67%);
}
.z-line-back.back3 .bg-layer2 {
  background-image: linear-gradient(90deg, #9a7c69, #836451);
  clip-path: polygon(15% 11%, 25% 13%, 30% 26%, 42% 21%, 59% 32%, 79% 28%, 84% 41%, 91% 26%, 96% 24%, 100% 32%, 100% 100%, 0 100%, 0 10%, 12% 18%);
}
.z-line-back.back3 .bg-layer3 {
  background-image: linear-gradient(90deg, #b9aa9c, #cbae9a);
  clip-path: polygon(28% 5%, 35% 8%, 48% 0, 58% 4%, 74% 0, 80% 7%, 93% 0, 100% 9%, 100% 100%, 0 100%, 0 10%, 13% 8%);
} */

.line.scenery {
  bottom: var(--ground-h);
  height: calc(100% - var(--ground-h));
  height: 30%;
}
.line.scenery .rock1 {
  position: absolute;
  left: 730px;
  bottom:-30px;
}
.line.ground {
  bottom: 0;
  height: var(--ground-h);
  display: flex;
  flex-wrap: nowrap;
}
/* .line.ground .bg-ground {
  background: linear-gradient(#a56441, #713a1d);
} */
.line.ground .bg-ground .dot-base {
  translate: 0 -12px;
}

/* 주변 오브젝트 */
.line.obj-wrap {
  bottom: var(--ground-h);
  height: calc(100% - var(--ground-h));
}
.sub-obj {
  position: absolute;
  bottom: 0;
}

.sub-obj .outline-con {
  position: absolute;
  left: -8px;
  top: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 8px);
  box-sizing: content-box;
	animation: fadeEffect 3s ease 0s infinite;
}
.sub-obj.rocket {
  left: 200px;
  bottom: 130%;
  transform: scale(-1, 1);
}
.sub-obj.rocket .rocket-fire {
  transition: visibility 0s 1.8s;
  position: absolute !important;
  left: 60px;
  top: 100%;
	animation: fireAni .2s linear 0s infinite;
}
.sub-obj.rocket.on {
  animation: landing 2.2s ease 0.4s 1 forwards;
}
.sub-obj.rocket.on .rocket-fire {
  visibility: hidden;
}

.aboutme-wrap {
  left: 1200px;
}
.portfolio-wrap {
  left: 1900px;
}
.guestbook-wrap {
  left: 3000px;
}

/* 주인공 - 로버 */
#beltscroll .hero {
  position: absolute;
  left: 200px;
  bottom: var(--ground-h);
  padding-bottom: 16px;
  translate: -50% 0;
  visibility: hidden;
  transition: visibility 0.2s ease 2.6s;
}
#beltscroll .hero.on {
  visibility: visible;
}
#beltscroll .hero .wheel {
  position: absolute !important;
  bottom: 0;
  z-index: 1;
}
#beltscroll .hero .wheel1 {
  left: 0px;
}
#beltscroll .hero .wheel2 {
  left: 36px;
}
#beltscroll .hero .wheel3 {
  left: 72px;
}
#beltscroll .hero.left {
  transform: scaleX(-1);
}
#beltscroll .hero.move .wheel {
  animation: wheelMove 0.3s linear 0s infinite normal;
}
#beltscroll .hero .rover-light {
  position: absolute !important;
  right: -28px;
  top: 52px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
#beltscroll .hero.up .rover-light {
  opacity: 1;
}

/* 날씨 */
.weather-wrap {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dev-guide-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border:calc(100vw * 0.15) solid #ff000050;
}

.bigsize-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  padding: 80px;
  text-align: center;
  border: 10px solid #000;
  background-color: #fff;
  font-size: 30px;
  white-space: pre-line;
  line-height: 2;
  display: none;
}
.bigsize-popup::after {
  content: '❌';
  position: absolute;
  right: 20px;
  top: 20px;
}



@media screen and (min-width: 1100px) {
  .z-line-back.back2 {width: 2800px;}
  .z-line-back.back3 {width: 2200px;}
}
@media screen and (min-width: 1900px) {
  .z-line-back.back2 {width: 3300px;}
  .z-line-back.back3 {width: 2200px;}
}
@media screen and (min-width: 2500px) {
  .z-line-back.back2 {width: 3300px;}
  .z-line-back.back3 {width: 2700px;}
}
@media screen and (min-width: 3800px) {
  .z-line-back.back2 {width: 3900px;}
  .z-line-back.back3 {width: 3900px;}
}
@media screen and (min-width: 4000px) {
  .z-line-back.back1 {width: 100%;}
  .bigsize-popup {display: block;}
}
