@charset "utf-8";

:root {
	--tile: 100px;
	--duration: 0.1s;
	--bg-cell: 4px;
}

#cellmove .viewport {
	position: relative;
	width:100vw;
	height: 100vh;
	background-color: #000;
}
#cellmove .view-area {
	position: absolute;
	left: 50%;
	top: 50%;
	width:1100px;
	height: 700px;
	/* background-image: 
		linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444),
		linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
	background-position: 0 0, var(--tile) var(--tile);
	background-size: calc(var(--tile) * 2) calc(var(--tile) * 2); */
	--s: 100px;
	--c1: #dddddd;
	--c2: #c1bcb6;
	--_g:var(--c1) 15%,var(--c2) 0 28%,#0000 0 72%,var(--c2) 0 85%,var(--c1) 0;
	background:
		conic-gradient(from 90deg at 2px 2px,#0000 25%,var(--c1) 0) -1px -1px,
		linear-gradient(-45deg,var(--_g)),linear-gradient(45deg,var(--_g)),
		conic-gradient(from 90deg at 40% 40%,var(--c1) 25%,var(--c2) 0) 
		calc(var(--s)/-5) calc(var(--s)/-5);
	background-size: var(--s) var(--s); 
	translate: -50% -50%;
}

#cellmove .portfolio-inbg {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: calc(var(--tile) * 2);
	background: linear-gradient(180deg,
	#887977 calc(var(--bg-cell) * 0),#887977 calc(var(--bg-cell) * 1),
	#695654 calc(var(--bg-cell) * 1),#695654 calc(var(--bg-cell) * 2),
	#352627 calc(var(--bg-cell) * 2),#352627 calc(var(--bg-cell) * 3),
	#494142 calc(var(--bg-cell) * 3),#494142 calc(var(--bg-cell) * 5),
	#695653 calc(var(--bg-cell) * 5),#695653 calc(var(--bg-cell) * 14),
	#453f41 calc(var(--bg-cell) * 14),#453f41 calc(var(--bg-cell) * 15),
	#918682 calc(var(--bg-cell) * 15),#918682 calc(var(--bg-cell) * 16),
	#685451 calc(var(--bg-cell) * 16),#685451 calc(var(--bg-cell) * 18),
	#484544 calc(var(--bg-cell) * 18),#484544 calc(var(--bg-cell) * 19),
	#595955 calc(var(--bg-cell) * 19),#595955 calc(var(--bg-cell) * 20),
	#86837e calc(var(--bg-cell) * 20),#86837e calc(var(--bg-cell) * 23),
	#d0cfcd calc(var(--bg-cell) * 23),#d0cfcd calc(var(--bg-cell) * 24),
	#aeadab calc(var(--bg-cell) * 24),#aeadab calc(var(--bg-cell) * 27),
	#e38e3e calc(var(--bg-cell) * 27),#e38e3e calc(var(--bg-cell) * 30),
	#afacac calc(var(--bg-cell) * 30),#afacac calc(var(--bg-cell) * 41),
	#83807b calc(var(--bg-cell) * 41),#83807b calc(var(--bg-cell) * 42),
	#d1d1cf calc(var(--bg-cell) * 42),#d1d1cf calc(var(--bg-cell) * 43),
	#979390 calc(var(--bg-cell) * 43),#979390 calc(var(--bg-cell) * 45),
	#5a4b4a calc(var(--bg-cell) * 45),#5a4b4a calc(var(--bg-cell) * 46),
	#b0a9a3 calc(var(--bg-cell) * 46),#b0a9a3 calc(var(--bg-cell) * 47),
	#6a554f calc(var(--bg-cell) * 47),#6a554f calc(var(--bg-cell) * 49),
	#4a4447 calc(var(--bg-cell) * 49),#4a4447 calc(var(--bg-cell) * 50)
	);
}

#cellmove .hero {
	position: absolute;
	width:var(--tile);
	height:var(--tile);
	transition: left var(--duration) ease, top var(--duration) ease;
	z-index: 2;
}
#cellmove .hero [class*='man-'] {
	position: absolute;
	left: 50%;
	bottom: 0;
	translate: -50% 0;
	display: none;
}

#cellmove .hero[data-direction="up"] .man-back {
	display: block;
}
#cellmove .hero[data-direction="right"] .man-side {
	display: block;
}
#cellmove .hero[data-direction="down"] .man-front {
	display: block;
}
#cellmove .hero[data-direction="left"] .man-side {
	display: block;
	transform: scaleX(-1);
}

.port-obj {
	position: absolute;
	/* background-color: #fff; */
	width:calc(var(--tile) * 3);
	height: calc(var(--tile) * 2);
	text-align: center;
}
.port-obj::before {
	content: '';
	position: absolute;
	left: 0;
	bottom:-10%;
	border-radius: 50%;
	width: 100%;
	height: 40%;
	background-color: rgba(0,0,0,0.3);
}
.port-obj .name-tag {
	font-size: 24px;
	line-height: 1;
	height: 18px;
	font-family: 'Micro';
	position: absolute;
	z-index: 2;
}
.port-obj .entrance {
	position: absolute;
	left: var(--tile);
	top: var(--tile);
	width: var(--tile);
	height: var(--tile);
	background: linear-gradient(180deg, #000 50%, transparent 100%);
	border: 2px solid black;
	border-bottom: 2px dotted #fff;
	opacity: 0;
}
.port-obj.portfolio {
	left: calc(var(--tile) * 0);
	top: calc(var(--tile) * 1);
}
.port-obj.portfolio .name-tag {
	left: 95px;
	top: 72px;
	opacity: 0.6;
}

.port-obj.benchmarking {
	left: calc(var(--tile) * 8);
	top: calc(var(--tile) * 1);
}
.port-obj.game {
	left: calc(var(--tile) * 0);
	top: calc(var(--tile) * 4);
}
.port-obj.doteditor {
	left: calc(var(--tile) * 8);
	top: calc(var(--tile) * 4);
}
.port-obj.exit {
	left: calc(var(--tile) * 4);
	top: calc(var(--tile) * 0);
}

.port-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid red;
	display: none;
}
.port-popup.open {
	display: block;
}