@charset "utf-8";

@import url(./common.css);
@import url(./animation.css);

.main-wrap {
	position: relative;
	color: #fff;
	min-height: 100vh;
	background-image: url(../img/bg_stars.jpeg);
	background-repeat: repeat;
	background-position: center 0px;
	background-size: cover;
	background-attachment: fixed;
	transition: background 0.2s ease;
}

.back-space {
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg_stars.jpeg);
	background-repeat: repeat;
	background-position: center 0px;
	background-size: auto;
	background-attachment: fixed;
	opacity: 0.5;
	transition: background 0.2s ease;
}

.intro {
	position: relative;
	width: 100%;
	height: 100vh;
	margin-bottom: 200vh;
}
.intro .tit-wrap {
	position: absolute;
	left:50%;
	top:50vh;
	transform: translate(-50%, -50%);
	text-align: center;
}
.intro .title {
	font-family: "Micro";
	font-size: 100px;
}
.intro-bg { /* 바둑판 격자 무늬 */
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-image:
		linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	transition: opacity 1s ease;
}
.intro-bg.scrolled {
	opacity: 0;
}
.guide-scroll {
	position: absolute;
	left:50%;
	bottom:0;
	translate: -50% -50px;
	text-align: center;
	transition: opacity 1s ease;
}
.guide-scroll.scrolled {
	opacity: 0;
}
.guide-scroll::before,
.guide-scroll::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	transform: rotate(45deg);
	margin-left: -10px;
	width: 20px;
	height: 20px;
}
.guide-scroll::before {
	top: 90%;
	animation: guide_scroll 1.4s ease 0s infinite;
}
.guide-scroll::after {
	top: 130%;
	animation: guide_scroll 1.4s ease 0.4s infinite;
}

.earth-wrap {
	position: relative;
	height: 500vh;
	margin-bottom: 300vh;
	/* border:2px solid blue; */
}
#earth {
	position: sticky;
	left: 50%;
	top: 50%;
	transform: scale(0);
	translate: -50% -50%;
}
.satellite-wrap {
	position: absolute;
	left: 0;
	top: 200vh;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* border:1px solid red; */
}
#satellite {
	position: absolute;
	left: -10%;
	top: 60%;
	width: 100px;
	transition: all 0.1s ease;

}

.moon-wrap {
	position: relative;
	margin-bottom: 400vh;
}
#moon {
	position: relative;
	left: 70%;
	translate: -50% 0;
}
.mars-wrap {
	position: relative;
	height: 100vh;
	/* border:2px solid #fff000; */
}
#mars {
	position: absolute;
	top: 50%;
	left: 30%;
	translate: -50% -50%;
}

@keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}
@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.main-gate {
	position: absolute;
	left: 55%;
	bottom: 50vh;
	padding: 8px;
	--border-angle: 0deg;
  animation: border-angle-rotate 2s infinite linear;
}
.main-gate::before,
.main-gate::after {
	content: "";
	display: block;
	position: absolute;
	border-radius:8px;
	inset: 4px;
	animation: border-angle-rotate 4s infinite linear;
}
.main-gate::before {
	inset: 0;
	/* background: repeating-conic-gradient(
		from var(--border-angle), hsl(190deg 20% 10%), hsl(190deg 20% 10%) 30deg, oklch(100% 50% 190deg) calc(360deg / 6)
	) border-box; */
	background: repeating-conic-gradient(
		from var(--border-angle), black, black 0deg, oklch(100% 40% 50deg) calc(360deg / 6)
	) border-box;
}
/* .main-gate::after {
	background: repeating-conic-gradient(
		from calc(var(--border-angle) * -1), oklch(100% 40% 50deg), black 60deg
	) border-box;
} */
.main-gate a {
	font-family: "Micro";
	font-size: 100px;
	text-decoration: none;
	color: #bf7758;
	line-height: 0.7;
	background-color: #000;
	border-radius: 8px;
	display: block;
	position: relative;
	z-index: 1;
	padding: 12px 24px;
}


.rocket-wrap {
	position: fixed;
	left: 50%;
	top:50%;
	height: 304px;
	width: 184px;
}
#rocket {
	z-index: 2;
	top:0;
	transform: scale(0) rotate(0deg) translate(-2010px, 1870px);
	transition: all 1.2s cubic-bezier(.62,.16,.13,1.01);
	position: absolute;
	left: 0;
	top: 0;
}
#rocket.on {
	transform: scale(1) rotate(180deg) translate(0, 0);
}
#rocket.in {
	transition-duration: 2s;
	top: -100%;
	left: -200%;
	transform: scale(0.0) rotate(595deg) translate(-2000px, -400px);
}
#rocket .rocket-fire {
	position: absolute !important;
	left: 60px;
	top: 100%;
	animation: fireAni .2s linear 0s infinite;
}

.comment-box {
	position: absolute;
	left: 110%;
	bottom: 40px;
	transform: scale(1, 0);
	transition: transform 0.4s;
}
.comment-box.on {
	transform: scale(1, 1);
}
.comment-box::before {
	content: '';
	border: 8px solid #aaa;
	position: absolute;
	left: -8px;
	top: 26px;
	transform: rotate(-45deg);
}
.comment-box .p-wrap {
	border: 4px solid #aaa;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	position: relative;
}
.comment-box p {
	color: #000;
	white-space: nowrap;
	display: none;
}
.comment-box p.on {
	display: block;
}



.dev-guide-line {
	position: absolute;
	right:0;
	top:0;
	width: 1px;
	height: 100%;
	background-color: #ff0;
}
.dev-guide-line .in-line {
	position: absolute;
	right: 0;
	background-color: #ff0;
	height: 1px;
	width: 100px;
}
