@charset "utf-8";

@import url(./common.css);
@import url(./animation.css);

.sub-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.weather-popup {
  position: fixed;
  right: 30px;
  top: 30px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1em;
  font-size: 14px;
  line-height: 1.4;
}

#weatherData {
  word-break: break-all;
}

.changeover {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
.changeover.on {
  width: 100vw;
  height: 100vh;
}
.changeover .circle {
  border: 0px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  translate: -50% -50%;
  transition: border 1.2s ease-out;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin-top: -300px;
  transform: translateX(-50%);
  transition: width 0.4s ease 0s, height 0.6s ease 0.5s;
}
.popup.on {
  animation: openAboutme 1s ease 0s 1 normal forwards;
}
.popup.off {
  animation: openAboutme 1s ease 0s 1 reverse forwards;
}
.popup .inner {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  padding: 24px;
  color: var(--line-color);
}
.popup .popup-border {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: #fff;
  background-image:
      linear-gradient(0deg, #000 10px, transparent 10px),
      linear-gradient(90deg, #000 10px, transparent 10px),
      linear-gradient(180deg, #000 10px, transparent 10px),
      linear-gradient(270deg, #000 10px, transparent 10px);
  background-position:
      top left,
      top right,
      bottom right,
      bottom left;
  background-repeat: no-repeat;
  background-size: 10px 10px;

}
.popup .popup-border::before,
.popup .popup-border::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #000;
}
.popup .popup-border::before {
  top: -10px;
  left: 10px;
  width: calc(100% - 20px);
  border-left: 0;
  border-right: 0;
}
.popup .popup-border::after {
  top: 10px;
  left: -10px;
  height: calc(100% - 20px);
  border-top: 0;
  border-bottom: 0;
}

.popup .inner > * {
  visibility: hidden;
  transition: visibility 0s ease 1s;
}
.popup.on .inner > * {
  visibility: visible;
}
.popup .btn-close {
  position: absolute;
  right:50px;
  top: 50px;
  color: var(--border-color);
  font-size: 24px;
  width:60px;
  height:46px;
}
.popup h2 {
  margin-bottom: 16px;
  color: var(--line-color);
  font-family: 'Micro';
  font-size: 64px;
  text-transform: uppercase;
}
.popup p {
  font-size: 12px;
  margin-bottom: 40px;
  color: var(--sub-color);
}
.popup p a {
  color: var(--main-color);
  font-weight: bold;
}
.popup .border-chip {
  visibility: visible;
  position: absolute;
  background-color: var(--line-color);
}
.popup .border-chip:after {
  content: '';
  position: absolute;
  background-color: var(--line-color);
  width: 10px;
  height: 10px;
}
.popup .border-chip.top,
.popup .border-chip.bottom {
  width: calc(100% - 20px);
  height: 10px;
  left: 10px;
}
.popup .border-chip.top {
  top: -10px;
}
.popup .border-chip.bottom {
  bottom: -10px;
}
.popup .border-chip.right,
.popup .border-chip.left {
  width: 10px;
  height: calc(100% - 20px);
  top: 10px;
}
.popup .border-chip.right {
  right: -10px;
}
.popup .border-chip.left {
  left: -10px;
}
.popup .border-chip.top:after {
  right: -10px;
  top: 10px;
}
.popup .border-chip.right:after {
  left: -10px;
  bottom: -10px;
}
.popup .border-chip.bottom:after {
  left: -10px;
  top: -10px;
}
.popup .border-chip.left:after {
  left: 10px;
  top: -10px;
}

.aboutme-table .skill-td span {
  white-space: nowrap;
  display: inline-block;
  margin: 0 16px 8px 0;
  position: relative;
}
.aboutme-table .skill-td span::after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -2px;
  width: calc(100% + 8px);
  height: 10px;
  background-color: rgba(209, 71, 17, 0.2);
  transform: rotate(-2deg);
}

.contactus-popup .row input,
.contactus-popup .row textarea {
  width: 100%;
  padding: 8px;
  min-height: 48px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
.contactus-popup .row input:focus,
.contactus-popup .row textarea:focus {
  outline: 2px solid var(--main-color);
}
.contactus-popup .row label {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 12px;
  color: var(--sub-color);
}
.contactus-popup .row:nth-child(3) {
  margin-bottom: 16px;
}
.contactus-popup .row textarea {
  height: 160px;
}
.contactus-popup .btn-send {
  background-color: var(--border-color);
  color: #fff;
}

.aboutme-table th,
.aboutme-table td {
  padding:8px;
}
.aboutme-table th {
  text-align: left;
  width: 80px;
}
